* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
}

/*header styles*/

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.2s;
}
nav ul li a:hover {
  color: red;
}

/* main section */

.main-top {
  width: 100%;
  position: relative;
}
.box {
position: relative;
height: 100%;
left: 8%;
top: 30 vh;

}
.box h1{
  font-size: 60px;
}
.box span{
  color: #ffc234;

}
.box p{
  color: rgb(99, 99, 99);
  margin: 20px 0 40px 0;
}
.box a{
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  background-color: black;
  margin-top: 20px;
  
}